*{
    margin: 0;
}


.a{
    width: 610px;
    height: 200px;
    background: silver;
}
.b{
    width: 400px;
    height: 400px;
    background: silver;
}
.c{
    width: 200px;
    height: 400px;
    background: silver;
}
.display{
    display: flex;
}
.column-gap{
    column-gap: 10px;
}
.flex-direction{
    flex-direction: column;
    row-gap: 10px;
}
.abc{
    justify-content: center;
    align-items: center;
}
@media screen and   (min-width: 0px) and (max-width: 576px){
    .display{
        display: flex;
        flex-direction: column;

    }
    .bc{
        row-gap: 20px;
    }
    .a{
        height: 100px;
        width: 400px;
        border-radius: 20px;
    }
    .b{
        height: 300px;
        border-radius: 20px;
    }
    .c{
        width: 400px;
        height: 100px;
        border-radius: 20px;
    }
}
.text{
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
